<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ITUBuzz</display-name>
  <welcome-file-list>
    <welcome-file>LoginAndRegister.jsp</welcome-file>
    <welcome-file>HomePage.jsp</welcome-file>
    <welcome-file>RegisterLogin.jsp</welcome-file>
    <welcome-file>LogOut.jsp</welcome-file>
    <welcome-file>ResetPassword.jsp</welcome-file>
    <welcome-file>ViewProfile.jsp</welcome-file>
    <welcome-file>GroupPage.jsp</welcome-file>
    <welcome-file>Search.jsp</welcome-file>
    <welcome-file>QAforum.jsp</welcome-file>
    <welcome-file>QuestionPage.jsp</welcome-file>
    <welcome-file>GeneralGroupHomePage.jsp</welcome-file>
    <welcome-file>MostPopular.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.itubuzz.webapp.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerUser</servlet-name>
    <servlet-class>com.itubuzz.webapp.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUser</servlet-name>
    <url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostDataServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.PostDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDataServlet</servlet-name>
    <url-pattern>/PostDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReteriveAllPostServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.ReteriveAllPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReteriveAllPostServlet</servlet-name>
    <url-pattern>/ReteriveAllPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fetchProfile</servlet-name>
    <servlet-class>com.itubuzz.webapp.FetchProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchProfile</servlet-name>
    <url-pattern>/FetchProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateProfile</servlet-name>
    <servlet-class>com.itubuzz.webapp.ProfileUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProfile</servlet-name>
    <url-pattern>/ProfileUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateGroupServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.CreateGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroupServlet</servlet-name>
    <url-pattern>/createGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupPostDataServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.GroupPostDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupPostDataServlet</servlet-name>
    <url-pattern>/GroupPostDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupReplyDataServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.GroupReplyDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupReplyDataServlet</servlet-name>
    <url-pattern>/GroupReplyDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyDataServlet</display-name>
    <servlet-name>ReplyDataServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.ReplyDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyDataServlet</servlet-name>
    <url-pattern>/ReplyDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QaforumQueServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.QaforumQueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QaforumQueServlet</servlet-name>
    <url-pattern>/QaforumQueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QaforumAnsServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.QaforumAnsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QaforumAnsServlet</servlet-name>
    <url-pattern>/QaforumAnsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetforumServlet</display-name>
    <servlet-name>GetforumServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.GetforumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetforumServlet</servlet-name>
    <url-pattern>/GetforumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAnstoQueServlet</display-name>
    <servlet-name>GetAnstoQueServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.GetAnstoQueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAnstoQueServlet</servlet-name>
    <url-pattern>/GetAnstoQueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostLoopServlet</display-name>
    <servlet-name>PostLoopServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.PostLoopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostLoopServlet</servlet-name>
    <url-pattern>/PostLoopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyRegisteredGroupsServlet</display-name>
    <servlet-name>MyRegisteredGroupsServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.MyRegisteredGroupsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyRegisteredGroupsServlet</servlet-name>
    <url-pattern>/MyRegisteredGroupsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostPopularServlet</display-name>
    <servlet-name>MostPopularServlet</servlet-name>
    <servlet-class>com.itubuzz.webapp.MostPopularServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostPopularServlet</servlet-name>
    <url-pattern>/MostPopularServlet</url-pattern>
  </servlet-mapping>
</web-app>